.doctor {
    padding: 7.8% 60px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.image {
    background-image: url("../../assets/doctor.png"),
        linear-gradient(180deg, #ffffff 40%, #e9f1fb 40%);
    height: 700px;
    width: 100%;
    background-position: centeral top;
    position: relative;
    z-index: 10;
}

.image img {
    object-fit: cover;
}

.doctor_descrip {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.doctor_descrip h3 {
    font-size: 25px;
    color: #5281b8;
    margin: 0;
}

.doctor_descrip h2 {
    margin: 0;
    font-size: 35px;
}

.doctor_descrip h4 {
    margin: 0;
    font-size: 20px;
    color: #5281b8;
}

.doctor_descrip p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    width: 90%;
}

.doctor_descrip ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 15px 0;
}

.doctor_descrip ul li {
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 20px;
}

.doctor_descrip ul li svg {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 645px) {
    .doctor {
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .image {
        background-image: url("../../assets/doctor.png"),
            linear-gradient(180deg, #ffffff 40%, #e9f1fb 40%);
        height: 600px;
        width: 335px;
        background-position: center top;
        position: relative;
        z-index: 10;
    }

    .doctor_descrip h3 {
        font-size: 20px;
        margin: 5px 0;
    }

    .doctor_descrip h2 {
        margin: 10px 0;
        font-size: 25px;
    }

    .doctor_descrip h4 {
        font-size: 15px;
        margin: 15px 0;
    }

    .doctor_descrip p {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
    }

    .doctor_descrip ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 15px 0;
        margin-bottom: 35px;
    }

    .doctor_descrip ul li {
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: 18px;
    }

    .doctor_descrip ul li svg {
        margin-top: 8px;
        height: 30px;
        width: 35px;
    }
}
